.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-bar-container {
  position: relative;
  z-index: 10;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.suggestions-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(133%, -7%);
  z-index: 1000;
}

.suggestion-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.9);
}

.suggestion-item:hover,
.suggestion-item.active {
  background-color: rgba(229, 21, 21, 0.8);
}

.suggestion-item img {
  width: 70px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 5px;
}

.suggestion-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: calc(100% - 80px);
}

.suggestion-item span {
  color: #f1f1f1;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.suggestions-list.adjust-up {
  top: auto;
  bottom: calc(100% + 2px);
}

.add-movie-to-category {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.add-movie-to-category select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.add-movie-to-category button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e51515;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-movie-to-category button:hover {
  background-color: #a61010;
}
