.filter-container {
  position: relative;
}

.filter-button {
  position: fixed;
  top: 85px;
  left: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 1000;
}

.filter-button:hover {
  background-color: #e51515;
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 78px;
  left: 0;
  bottom: 60px;
  width: 280px;
  height: calc(
    100% - 145px
  );
  overflow-y: auto;
  background-color: #d3d3d3;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  z-index: 999;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters h4 {
  width: 100%;
  margin: 10px 0 5px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.filters button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  flex: 0 1 auto;
  text-align: left;
}

.filters button:hover,
.filters button.selected {
  background-color: #e51515;
  color: #fff;
}

.filters .filter-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.show-movies-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

.show-movies-button:hover {
  background-color: #e51515;
  color: #fff;
}

.dropdown {
  position: fixed;
  top: 78px;
  left: 280px;
  bottom: 60px;
  width: calc(100% - 280px);
  height: calc(
    100% - 145px
  );
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.close-dropdown-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  align-self: flex-end;
  transition: background-color 0.3s, color 0.3s;
}

.close-dropdown-button:hover {
  background-color: #e51515;
  color: #fff;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movie-card {
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.movie-card h3 {
  margin: 10px 0;
  color: #f1f1f1;
  font-size: 16px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.movie-card p {
  color: #d1d1d1;
  font-size: 14px;
}
