
.section-title h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.section-title p {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #f1f1f1;
}
